<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="./assets/images/searchEmployee.jpg" alt="..." height="36">
    </a>
    <button class="navbar-toggler" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Company</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <h1 class="mt-4">Employee Information</h1>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="catalogo" role="tabpanel" aria-labelledby="catalogo-tab">
      <form class="form-inline" target="_blank">
          <input #input type="text" class="form-control mt-3 col-md-10" placeholder="Employee ID" name="id">
          <button type="button" class="btn btn-primary mt-3 col-md-2" (click)="Search(input.value)"  name="btnSearch">Search</button>
      </form>
    </div>
  </div>  
</div>
<br>
<div class="container">
  <div class="card">
      <div class="card-header">
          <h3>Employee</h3>
      </div>
      <div class="card-body">
          <table class="table table-hover">
              <thead>
                  <tr class="text-center">
                      <th>Id</th>
                      <th>Name</th>
                      <th>Age</th>
                      <th>Salary</th>
                      <th>Anual Saraly</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let employee of employees" class="text-center">
                      <td>{{employee.id}}</td>
                      <td>{{employee.name}}</td>
                      <td>{{employee.age}}</td>
                      <td>{{employee.salary}}</td>
                      <td>{{employee.anualSalary}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>